@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:wght@700&display=swap');

html{
  scroll-behavior: smooth;
}
.page{
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  background-color: black;
}
.intro_header{
  background-image: url(../assets/photos/bg.jpg);
  width: 1440px;
  height: 910px;
  margin: 0 auto;
}
.bar{
  display: flex;
  align-items: center;
  height: 90px;
}
.intro_header .bar .logo{
  margin: 20px 780px 20px 20px;
}
.intro_header .bar .nav ul{
  width: 500px;
  height: 50px;
  margin: 20px 0;
  padding: 0 15px;
  display: flex;
  list-style-type: none;
  box-sizing: border-box;
}
.intro_header .bar .nav a{
  margin: auto 15px;
}
a{
  color: white;
  text-decoration: none;
}
.bar .languages{
  font-weight: bold;
  padding: 20px 0;
  width: 70px;
  display: flex;
  margin: 0;
}
.name{
  width: 500px;
  height: 330px;
  margin: 160px 860px 330px 80px;
}
.name h1{
  font-family: Merriweather;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 34px 0;
  font-size: 60px;
  width: 500px;
  height: 120px;
}
.name p{
  width: 470px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.hire_button{
  border: none;
  height: 55px;
  width: 220px;
  margin-top: 25px;
  background-color: #BDAE82;
}
.skills{
  position: relative;
  background-color: black;
  margin: 0 auto;
  width: 1440px;
  height: 482px;
}
.title{
  position: relative;
  color: #BDAE82;
  width: 700px;
  height: 80px;
  padding: 100px 370px 60px 370px;
}
.linethrough{
  border: 1px solid #BDAE82;
  background-color: #BDAE82;
  z-index: 0;
  position: relative;
  bottom: 35%;
}
.main_word{
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: inline;
  top: 20%;
  left: 275px;
  font-family: Merriweather;
  background: black;
  z-index: 1;
}
.skills .my_skills_list{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.skills .skill_section{
  font-family: Inter;
  text-align: center;
  height: 240px;
  width: 320px;
}
.skills .skill_section img{
  margin: 0 0 25px 0;
}
.skills .skill_section h4{
  font-size: 20px;
  margin: 0 0 20px 0;
}
.skills .skill_section .description p{
  margin-left: 20px;
  text-align: center;
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;  
}
.portfolio{
  background-color: black;
  margin: 0 auto;
  width: 1440px;
  height: 1500px;
}
.portfolio .main_word{
  left: 237px;
}
.portfolio .season_buttons{
  text-align: center;
}
.portfolio .season_buttons button{
  width: 220px;
  height: 55px;
  background-color: black;
  color: #BDAE82;
  border: 3px solid #BDAE82;
}
.portfolio .season_buttons .autumn{
  background-color: #BDAE82;
  color: black;
}
.portfolio .photos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  margin: 60px 20px 0 20px;
}
.portfolio .photos img{
  width: 450px;
  height: 560px;
}
.video{
  background-color: black;
  margin: 0 auto;
  width: 1440px;
  height: 945px;
}
.video .video_photo{
  text-align: center;
}
.price{
  background-color: black;
  width: 1440px;
  height: 845px;
  margin: 0 auto;
}
.price .price_list{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.price .price_list .price_list_element{
  box-sizing: border-box;
  text-align: center;
  border: 3px solid #BDAE82;
  width: 450px;
  height: 505px;
}
.price .main_word{
  left: 280px;
}
.price .price_list_element h4{
  font-family: Merriweather;
  font-size: 28px;
  font-weight: bold;
  margin: 43px 0 20px 0;
}
.price .price_list_element h5{
  font-size: 25px;
  font-family: Merriweather;
  color: #BDAE82;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.price .price_list .price_list_element ul{
  list-style-type: none;
  font-size: 18px;
  font-family: Inter;
  line-height: 36px;
  margin-bottom: 40px;
  padding: 0;
}
.price .price_list .price_list_element button{
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  color: black;
  border: 3px solid #BDAE82;
}
.contacts{
  background-color: black;
  margin: 0 auto;
  width: 1440px;
  height: 700px;
  background-image: url(../assets/photos/contacts-bg.jpg);
}
.contacts .info_section{
  width: 450px;
  height: 445px;
  padding: 60px 20px 195px 970px;
}
.contacts .info_section button{
  width: 220px;
  height: 55px;
  background-color: #BDAE82;
  color: black;
  border: 3px solid #BDAE82;
}
.contacts h1{
  font-family: Merriweather;
  width: 450px;
  height: 80px;
  margin: 0 0 40px 0;
  font-size: 40px;
  color: #BDAE82;
}
.contacts .info_section input{
  box-sizing: border-box;
  width: 450px;
  color: #BDAE82;
  display: block;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #BDAE82;
  border-radius: 0px;
}
.contacts .e-mail, .contacts .phone{
  height: 50px;
}
.contacts .message{
  height: 100px;
}
.contacts .info_section button{
  margin-top: 10px;
}
.footer{
  display: flex;
  width: 1440px;
  height: 150px;
  background: black;
  margin: 0 auto;
  align-items: center;
}
.footer .end{
  display: flex;
  margin-left: 20px;
  gap: 20px;
}
.footer .slogan{
  margin: 0 406px 0 429px;
}
.footer .social_apps{
  width: 188px;
  display: flex;
  justify-content: space-between;
}
button{
  transition: 500ms ease-in-out;
  cursor: pointer;
}
button:hover{
  color: #BDAE82 !important;
  background-color: black !important;
}